* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: var(--primary-text)
}

body {
    margin: 0;
}

.form__input {
    @apply tw-inline-block tw-w-full tw-m-auto tw-rounded-[var(--rd-pri)] 
    tw-p-3 tw-px-4 tw-bg-pri tw-outline-none tw-text-white tw-text-[13px]
    tw-duration-300
}
.form__input::placeholder {
    @apply tw-text-pri-text
}
.form__input:focus{
    @apply tw-bg-thi;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.form__label{
    @apply tw-absolute tw-top-1/2 tw-left-3 tw--translate-y-1/2 
    tw-text-sm tw-outline-none tw-select-none tw-pointer-events-none 
    tw-duration-300 tw-leading-none tw-p-2
}
.form__input:focus+.form__label {
    top: 0;
    display: inline-block;
    font-size: 12px
}
.page__title {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
.page__title::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 60%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--secondary);
    transform-origin: bottom left;
    transform: scaleX(1);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 0px 5px #FF6900;
    border-radius: 1px;
}
